name: Update GitHub Stats

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_PAT }}
      
      - name: Generate Profile Summary Cards
        uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_PAT }}
        with:
          USERNAME: ${{ github.repository_owner }}
          EXCLUDE: "php"
      
      - name: Generate Trophy Card
        uses: soulteary/github-profile-trophy-action@v1.0.0
        with:
          options: 'username=${{ github.repository_owner }}&theme=darkhub&no-frame=true&column=7&title=-Stars,-Followers'
          path: profile-summary-card-output/trophy.svg
          token: ${{ secrets.GITHUB_PAT }}
      
      - name: Commit cards
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add profile/*.svg
          git commit -m "Update README stats cards" || exit 0
          git push